# General
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/

# Editor
.vscode/
.idea/

# Temporary / Testing
tmp/
*.log
*.bak
dummy_*
test_*
