# Personal
TODO.md

# General
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/

# Editor
.vscode/
.idea/

# Temporary / Testing
tmp/
temp/
*.log
*.bak
dummy_*
test_*
scratch/
scratch_debug/
scratch_staging/
scratch_testing/
refactor/

# Project Specific
Roadmap/
/commands*
completions/*.zwc

# Media Files
*.mp3
*.mp4
*.mov
*.webm
*.wav
*.opus
*.m4a
*.m4v
.storage/
.agent/skills.bak/
*.bak
